body {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
    margin: 0%;
}

#logo{
    background-image: url(../img/logo.png);
    width: 150px;
    height: 149px;
    background-position: center;

}
#menu{
    width: 100%;
   
}
ul li{ 
    display:inline;
}
ul li a{
    color: beige;
    text-decoration: none;
    padding: 10px;
}
ul li a:hover{
    background-color:rgba(235, 229, 221, 0.349);
    border-radius: 10px;
}